*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1b1b3a;
  padding: 100px 350px;
}

.container {
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 5px 15px #69658e;
}

h2 {
  background: #1b1b3a;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
  body {
    padding: 20px 50px;
  }
}
